.error404 {
  background-color: #f9f9f9;

  .content404 {
    overflow: hidden;
    position: relative;
    padding-top: 164px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 0;
      font-family: "Libre_Baskerville", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 100px;
      line-height: 160%;
      color: #333;
    }

    p {
      text-align: center;
      margin-bottom: 50px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #333;
    }

    .bubble1 {
      z-index: -1;
      position: absolute;
      width: 197px;
      height: 197px;
      left: 255px;
      top: 279px;
    }

    .bubble2 {
      z-index: -1;
      position: absolute;
      width: 367px;
      height: 367px;
      left: 1431px;
      top: 390px;
    }

    .image404 {
      margin-top: 66px;
    }
  }

  footer {
    display: none;
  }

  @media (max-width: 1800px) {
    .bubble2 {
      display: none;
    }
  }

  @media (max-width: 820px) {
    .image404 {
      margin-bottom: -60px;
      transform: scale(0.8, 0.8);
    }

    .content404 h1 {
      font-size: 150px;
    }
  }

  @media (max-width: 635px) {
    .image404 {
      margin-bottom: -105px;
      transform: scale(0.65, 0.65);
    }
  }

  @media (max-width: 525px) {
    .image404 {
      margin-bottom: -131px;
      transform: scale(0.55, 0.55);
    }
  }

  @media (max-width: 440px) {
    .image404 {
      margin-bottom: -175px;
      transform: scale(0.4, 0.4);
    }

    .bubble1 {
      display: none;
    }
  }
}
