.template-about {
  .header {
    background: #f9f9f9;
    padding: 120px 0 50px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-text {
        max-width: 440px;

        h1 {
          font-size: 45px;
          line-height: 67px;
          margin-bottom: 35px;
        }
      }
    }
  }

  .second {
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    .container {
      display: flex;
      justify-content: space-between;

      .item {
        width: 30%;

        .item-header {
          display: flex;
          align-items: center;

          svg {
            margin-right: 20px;
          }

          h5 {
            margin: 0;
            font-size: 24px;
          }
        }

        p {
          margin-top: 16px;
          padding-right: 20px;
        }
      }
    }

    .decor {
      position: absolute;
      bottom: -50px;
      left: 72px;
      z-index: -1;
    }
  }

  .our-story {
    padding: 70px 0;
    background: $purple;
    overflow: hidden;
    position: relative;
    z-index: 20;

    .decor-bottom {
      transform: translate(-50%, 50%);
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
    }

    .decor-right {
      position: absolute;
      right: 7%;
      top: 120px;
      z-index: -1;
    }

    .decor-upper {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      z-index: -1;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .story-text {
        display: flex;
        align-items: flex-end;

        p,
        .title {
          color: #fff;
        }

        .title {
          margin-bottom: 25px;
        }

        .first-tab,
        .second-tab {
          width: 325px;
        }

        .first-tab {
          margin-right: 65px;
        }
      }

      .color-btn {
        background: $lightBlue;
        margin: 60px auto 0 auto;
      }
    }
  }

  .your-body {
    padding: 106px 0 115px 0;
    background: #f9f9f9;
    position: relative;
    z-index: 0;

    .decor {
      position: absolute;
      z-index: -1;

      &.decor-l {
        bottom: 240px;
        left: 0;
      }

      &.decor-r {
        top: 180px;
        right: 0;
      }
    }

    .container {
      p {
        margin: 20px 0 45px 0;
        max-width: 730px;
      }

      .your-body-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .item {
          width: 24%;
          padding: 40px;
          color: #fff;

          .item-title {
            color: #fff;
            font-family: "Montserrat-Bold", sans-serif;
            margin-bottom: 10px;
          }

          span {
            display: block;
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            font-family: "Montserrat-SemiBold", sans-serif;
            margin-bottom: 40px;
          }

          ul {
            padding-inline-start: 20px;
            margin-bottom: 50px;

            li {
              margin-bottom: 8px;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }

          .color-btn {
            background: #fff;
            color: #4c4c4c;
            filter: drop-shadow(0 10px 20px rgba(115, 195, 244, 0.3));
            width: 100%;
          }

          &.basic {
            background: linear-gradient(151.58deg, #73c3f4 0%, #7d73f4 100%);
          }

          &.lipo-ignite {
            background: linear-gradient(154.94deg, #ffd900 0%, #f90 100%);
            padding-top: 80px;
            position: relative;

            .most-pop {
              position: absolute;
              top: 20px;
              background: #fff;
              color: #4c4c4c;
              text-align: center;
              width: 60%;
              left: -6px;
            }
          }

          &.elite {
            background: linear-gradient(151.58deg, #dd71c6 0%, #ee5a5a 100%);
          }

          &.crave-x {
            background: linear-gradient(151.58deg, #94dae0  0%, #73d1d9 100%);
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .our-story {
      .decor-right {
        display: none;
      }
    }
  }

  @media (max-width: 1300px) {
    .your-body {
      .container {
        .your-body-main {
          flex-wrap: wrap;
          justify-content: space-around;

          .item {
            width: 45%;
            padding: 30px;
            margin-bottom: 40px;

            &.lipo-ignite {
              padding-top: 70px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1112px) {
    .header {
      .container {
        .img-wrap {
          width: 70%;
        }
      }
    }

    .our-story {
      .container {
        .story-text {
          .first-tab {
            margin-right: 25px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .header {
      .container {
        .header-text {
          max-width: 340px;

          h1 {
            font-size: 35px;
            line-height: 56px;
          }
        }
      }
    }

    .our-story {
      .container {
        flex-direction: column-reverse;

        .mobile-color-btn {
          display: flex !important;
        }

        .img-wrap {
          .color-btn {
            display: none;
          }
        }

        .story-text {
          margin-top: 40px;

          .first-tab,
          .second-tab {
            width: 100%;
          }

          .first-tab {
            margin-right: 65px;
          }
        }
      }

      .decor-right {
        display: block;
      }
    }

    .your-body {
      .container {
        .your-body-main {
          .item {
            // width: 32%;
            // padding: 20px;

            &.lipo-ignite {
              padding-top: 60px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .second {
      padding: 80px 0;

      .container {
        flex-direction: column;

        .item {
          width: 100%;
          margin-bottom: 25px;

          .item-header {
            margin-bottom: 40px;
          }
        }
      }
    }

    .your-body {
      padding: 80px 0;

      .container {
        .your-body-main {
          flex-direction: column;
          align-items: flex-start;

          .item {
            width: 100%;
            margin-bottom: 45px;

            .item-title {
              font-size: 22px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .header {
      .container {
        flex-direction: column-reverse;

        .header-text {
          max-width: 70%;
          align-self: flex-start;
          margin-top: 70px;

          h1 {
            margin-bottom: 22px;
          }
        }
      }
    }

    .our-story {
      .container {
        .story-text {
          .first-tab {
            margin-right: 25px;
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    .our-story {
      .container {
        .story-text {
          flex-direction: column;

          .first-tab {
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .our-story {
      .decor-right {
        right: -50px;
        top: 30%;
      }

      .decor-bottom {
        bottom: 6%;
        left: 0%;
      }
    }
  }

  @media (max-width: 480px) {
    .header {
      .container {
        .img-wrap {
          width: 100%;
          order: -1;
        }

        .header-text {
          margin: 0 auto 0 auto;
          max-width: 100%;

          h1 {
            font-size: 30px;
            line-height: 45px;
            text-align: center;
          }
        }
      }
    }

    .second {
      .container {
        .item {
          &:nth-of-type(3) {
            display: none;
          }
        }
      }

      .decor {
        left: unset;
        right: 0;
        bottom: 45%;
        transform: translate(50%, 50%);
      }
    }

    .our-story {
      .container {
        h2 {
          display: block !important;
          order: 2;
          align-self: flex-start;
          margin-bottom: 60px;
          font-size: 32px;
        }

        .first-tab {
          h2 {
            display: none !important;
          }
        }
      }

      .decor-upper {
        display: block;
        transform: translate(0, -50%);
      }
    }

    .your-body {
      .container {
        .title {
          font-size: 32px;
          line-height: 48px;
          max-width: 210px;
        }

        .your-body-main {
          .item {
            margin-bottom: 65px;
          }
        }
      }
    }
  }

  @media (max-width: 420px) {
    .header {
      .container {
        .header-text {
          width: 85%;
          margin: auto;
        }
      }
    }
  }
}
