.template-blog,
.template-press,
.tag,
.category,
.template-press {
  .blog-wrapper {
    .gray {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 380px;
      background: #f9f9f9;
      z-index: -1;
    }

    .blog-main {
      padding-top: 180px;
      display: flex;
      justify-content: space-between;
    }

    .post-list {
      padding-inline-start: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-right: 50px;

      .single-post {
        width: 48%;
        height: auto;
        margin-bottom: 35px;

        &:first-of-type {
          width: 100%;

          .post-text {
            min-height: unset !important;

            h2 {
              width: 85%;
              padding-right: 0 !important;
            }
          }

          //
          .post-featured-image {
            .post-image-link {
              img {
                width: 100%;
              }
            }
          }
        }

        .post-featured-image {
          .post-image-link {
            img {
              width: 100%;
              // height: auto;
              // width: 387px;
              height: 275px;
              object-fit: cover;
            }
          }
        }

        .post-text {
          background: #fff;
          box-shadow: 0 4px 35px rgba(51, 51, 51, 0.05);
          min-height: 405px;
          display: flex;
          flex-direction: column;

          .post-description,
          h2,
          .post-author,
          .date {
            padding: 20px 45px 0 45px;
          }

          .date {
            margin: 0 0 9px 0;
            font-size: 14px;
            font-family: "Montserrat-SemiBold", sans-serif;
            color: #bababa;
          }

          h2 {
            font-size: 24px;
            line-height: 38px;
            padding-top: 9px;
            margin-bottom: 18px;
          }

          .post-description {
            padding-top: 0;
            margin-bottom: 30px;
            flex-grow: 1;
          }

          .post-author {
            display: flex;
            align-items: center;
            padding-bottom: 14px;
            border-top: 1px solid #f0f0f0;

            img {
              margin-right: 25px;
            }

            p {
              padding: 0;
              margin: 0;
              font-family: "Montserrat-SemiBold", sans-serif;
              color: #bababa;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .blog-pagination {
    .pagination {
      width: 75%;
      display: flex;
      justify-content: center;
      margin-bottom: 120px;

      .page-item {
        a {
          color: #303030;
          border: none;
          border-radius: 0;
          margin: 0 7.5px;
          background: #f1f1f1;
        }

        &.disabled {
          .page-link {
            background: $purple;
            color: #fff;
            font-family: "Montserrat-Bold", sans-serif;
          }
        }

        .page-link {
          &.next-item,
          &.prev-item {
            padding: 0 20px;
            display: flex;
            align-items: center;
            height: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 1280px) {
    .blog-wrapper {
      .post-list {
        padding-right: 25px;

        .single-post {
          .post-text {
            .date,
            h2,
            .post-description,
            .post-author {
              padding-left: 25px;
            }

            h2 {
              font-size: 21px;
              line-height: 31px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .blog-wrapper {
      .blog-main {
        flex-direction: column;
      }

      .post-list {
        padding-right: 0;
      }
    }

    .blog-pagination {
      padding-top: 50px;

      .pagination {
        width: 100%;
      }
    }
  }

  @media (max-width: 700px) {
    .blog-wrapper {
      .post-list {
        .single-post {
          width: 100%;

          .post-text {
            min-height: unset;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .blog-pagination {
      .pagination {
        margin-bottom: 80px;
      }
    }
  }

  @media (max-width: 480px) {
    .blog-wrapper {
      .blog-main {
        padding-top: 145px;
      }

      .post-list {
        .single-post {
          .post-text {
            .date {
              font-family: "Montserrat-Medium", sans-serif;
            }

            h2 {
              padding-top: 0;
              font-size: 20px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
}


.template-press {
  .blog-wrapper {
    .blog-main {
      flex-direction: column;

      .title {
        font-size: 45px;
        margin-bottom: 100px;
        color: #333;
      }
    }

    .post-list {
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;

      .single-post {
        width: 100% !important;

        &:first-of-type {
          width: unset;

          .post-text {
            min-height: 370px !important;
          }
        }

        .post-text {
          min-height: 370px !important;

          h2 {
            flex-grow: 1;
          }
        }

        p.post-date {
          padding: 0 45px;
          color: #BABABA;
          font-family: "Montserrat-SemiBold", sans-serif;
          font-size: 14px;

          @media (max-width: 1280px) {
            padding-left: 25px;
          }
        }

        .press-read-more-btn {
          margin: 0 auto 15px auto;
          filter: unset;

          &:hover {
            transform: unset;
          }
        }
      }

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 750px) {
        grid-template-columns: 1fr;

        .single-post {
          .post-text {
            min-height: unset !important;
          }
        }
      }
    }
  }

  .blog-pagination {
    .pagination {
      width: 100%;
    }
  }
}