.template-book-online {
  .book-header {
    padding-top: 185px;
    background: #f9f9f9;

    h1 {
      text-align: center;
      font-size: 45px;
      padding-bottom: 10px;
      margin: 0;
    }

    .book-mobile {
      display: none;
    }
  }

  .contact-main {
    background: #f9f9f9;
    padding-bottom: 120px;
    overflow: hidden;

    .contact-wrap {
      position: relative;
      // width: 1000px;
      // height: 500px;
      margin: auto;
      // background: blue;

      .decor {
        position: absolute;
        z-index: -1;

        &.decor-l {
          transform: translate(-50%, -50%);
          top: -20px;
          left: -20px;
        }

        &.decor-r {
          transform: translate(50%, 0);
          bottom: 55px;
          right: 0;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .book-header {
      background: $lightBlue;
      padding-top: 125px;

      h1 {
        padding: 0;
      }

      .book-mobile {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: url("../images/book-online/book-mobile.png") no-repeat;
        background-size: contain;
        padding: 50px 0 30px 0;
        height: 600px;

        h6 {
          font-size: 20px;
          line-height: 30px;
          text-align: right;

          strong {
            font-family: "Libre_Baskerville-Bold", serif;
          }
        }
      }
    }

    .contact-main {
      padding-bottom: 0;

      .contact-wrap {
        padding-top: 40px;
      }
    }
  }

  @media (max-width: 480px) {
    .book-header {
      h1 {
        font-size: 30px;
        line-height: 45px;

        .book-mobile {
          height: 500px;
        }
      }
    }
  }

  @media (max-width: 414px) {
    .book-header {
      .book-mobile {
        height: 400px;
      }
    }
  }
}
