.page-template-default {
  .header-frame {
    padding: 190px 0 85px 0;
    background: #f9f9f9;

    .page-header {
      color: #333 !important;
    }
  }

  .default-main {
    padding: 90px 0 105px 0;
  }
}
