.template-franchise {
  .hero-holder {
    background-image: url("../images/franchise/hero-bg.png");
    padding-top: 230px;

    @media (max-width: 1100px) {
      padding-top: 130px;
      background-image: none;
    }

    @media (max-width: 450px) {
      padding-top: 120px;
      background-image: url("../images/franchise/hero-bg-mob.png");
      background-repeat: no-repeat;
      background-position: 0 120%;
      background-size: cover;
    }

    .franch-hero-container {
      .hero-holder-small {
        display: flex;
        justify-content: space-between;
        align-items: start;

        @media (max-width: 950px) {
          flex-direction: column;
        }

        .franch-hero-content {
          width: 45%;
          padding-top: 50px;

          @media (max-width: 950px) {
            width: 100%;
            margin-bottom: 45px;
          }

          @media (max-width: 450px) {
            margin-bottom: 65px;
            padding-top: 0;
          }

          .franch-title {
            font-family: "Libre_Baskerville-Regular", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 45px;
            line-height: 67.5px;
            color: #333;
            margin-bottom: 71px;

            @media (max-width: 1100px) {
              font-size: 37px;
              line-height: 50px;
              margin-bottom: 30px;
            }

            @media (max-width: 450px) {
              font-size: 30px;
              line-height: 45px;
              margin-bottom: 29px;
            }
          }
        }

        .hero-text {
          font-family: "Montserrat-Regular", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          color: #333;
        }
      }

      .hero-girls {
        width: 55%;

        @media (max-width: 950px) {
          width: 70%;
          margin: auto;
        }

        @media (max-width: 600px) {
          width: 100%;
        }

        .hero-girls-img {
          width: 100%;

          @media (max-width: 450px) {
            display: none;
          }
        }

        .hero-girls-img-mob {
          display: none;

          @media (max-width: 450px) {
            display: block;
          }
        }
      }
    }
  }
}

.opportunity-holder {
  padding-top: 120px;
  background: url("../images/franchise/opportunity-girls.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1700px) {
    background-color: #e2e2e0;
    background-image: none;
  }

  @media (max-width: 1210px) {
    padding-top: 30px;
  }

  @media (max-width: 950px) {
    padding-top: 40px;
  }

  @media (max-width: 450px) {
    background: url("../images/franchise/opportunity-mob.png");
    background-position: 0 -80px;
    height: 957px;
    background-size: 100%;
  }

  .opportunity-container {
    .opportunity-holder-small {
      width: 45%;
      margin-left: auto;
      padding-bottom: 233px;

      @media (max-width: 1700px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 0%;
      }

      @media (max-width: 1210px) {
        align-items: end;
      }

      @media (max-width: 950px) {
        flex-direction: column-reverse;
      }

      .opp-left {
        display: none;

        @media (max-width: 1700px) {
          display: block;
          width: 45%;
        }

        @media (max-width: 950px) {
          width: 70%;
          margin: auto;
        }

        @media (max-width: 600px) {
          width: 100%;
        }

        @media (max-width: 450px) {
          display: none;
        }

        .opp-girls {
          width: 100%;
          display: block;
        }
      }

      .opp-right {
        @media (max-width: 1700px) {
          width: 45%;
        }

        @media (max-width: 950px) {
          width: 100%;
          margin: 0 auto 50px;
        }

        .opportunity-title {
          font-family: "Libre_Baskerville-Regular", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 45px;
          line-height: 67.5px;
          color: #333;
          margin-bottom: 45px;

          @media (max-width: 950px) {
            font-size: 37px;
            line-height: 50px;
            margin-bottom: 30px;
          }

          @media (max-width: 450px) {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 26px;
          }
        }

        .opportunity-text {
          font-family: "Montserrat-Regular", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          color: #333;
        }
      }
    }
  }
}

.support-benefits-holder {
  background-image: url("../images/franchise/support-benefit-img.png");

  @media (max-width: 450px) {
    background-image: url("../images/franchise/support-benefit-img-mob.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.support-benefits-container {
  .support-benefits {
    display: flex;
    justify-content: space-between;
    padding: 105px 0 145px;

    @media (max-width: 850px) {
      flex-direction: column;
    }

    @media (max-width: 450px) {
      padding-top: 40px;
      padding-bottom: 10px;
    }

    .support-content,
    .benefits-content {
      width: 45%;

      @media (max-width: 850px) {
        width: 70%;
        margin: 0 auto 40px;
      }

      @media (max-width: 650px) {
        width: 100%;
      }

      @media (max-width: 450px) {
        &:nth-of-type(odd) {
          margin-bottom: 77px;
        }
      }

      .support-title,
      .benefits-title {
        font-family: "Libre_Baskerville-Regular", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 45px;
        line-height: 67.5px;
        color: #fff;
        margin-bottom: 23px;

        @media (max-width: 450px) {
          font-size: 30px;
          line-height: 45px;
          margin-bottom: 19px;
        }
      }

      .support-text,
      .benefits-text {
        font-family: "Montserrat-Regular", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        color: #fff;

        .dot {
          width: 5px;
          height: 5px;
          display: inline-block;
          color: #fff;
          background: #fff;
          margin: auto 13px auto 0;
          content: "";
          border-radius: 50%;
          text-align: center;
        }
      }
    }
  }
}

.join-costs-holder {
  padding-top: 69px;

  @media (max-width: 450px) {
    padding-top: 15px;
  }

  .join-costs-container {
    .join-holder {
      display: flex;
      justify-content: space-between;
      align-items: start;

      @media (max-width: 1000px) {
        flex-direction: column;
        margin-bottom: 50px;
      }

      .join-content {
        width: 42%;
        padding-top: 25px;
        margin-right: 50px;

        @media (max-width: 1000px) {
          width: 100%;
          margin-bottom: 15px;
        }

        .join-title {
          font-family: "Libre_Baskerville-Regular", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 45px;
          line-height: 67.5px;
          color: #333;
          margin-bottom: 25px;

          @media (max-width: 1000px) {
            font-size: 37px;
            line-height: 50px;
            margin-bottom: 35px;
          }

          @media (max-width: 450px) {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 36px;
          }
        }

        .join-text {
          font-family: "Montserrat-Regular", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          color: #333;
        }
      }

      .all-team {
        width: 57%;

        @media (max-width: 1000px) {
          width: 70%;
          margin: auto;
        }

        @media (max-width: 650px) {
          width: 100%;
        }

        .all-team-img {
          width: 100%;
        }
      }
    }

    .costs-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1000px) {
        flex-direction: column-reverse;
      }

      .checking-weight {
        width: 43%;
        margin-right: 100px;

        @media (max-width: 1000px) {
          width: 70%;
          margin: auto;
        }

        @media (max-width: 650px) {
          width: 100%;
        }

        .checking-weight-img {
          width: 100%;
        }
      }

      .costs-content {
        width: 51%;

        @media (max-width: 1000px) {
          width: 100%;
          margin-bottom: 15px;
        }

        .costs-title {
          font-family: "Libre_Baskerville-Regular", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 45px;
          line-height: 67.5px;
          color: #333;
          margin-bottom: 25px;

          @media (max-width: 1000px) {
            font-size: 37px;
            line-height: 50px;
            margin-bottom: 35px;
          }

          @media (max-width: 450px) {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 36px;
          }
        }

        .costs-text {
          font-family: "Montserrat-Regular", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          color: #333;

          .begin {
            display: none;

            @media (max-width: 450px) {
              display: inline-block;
            }
          }

          .is {
            display: none;

            @media (max-width: 450px) {
              display: inline-block;
            }
          }

          .includes {
            display: none;

            @media (max-width: 450px) {
              display: inline-block;
            }
          }

          .capital {
            display: none;

            @media (max-width: 450px) {
              display: inline-block;
            }
          }

          .during {
            display: none;

            @media (max-width: 450px) {
              display: inline-block;
            }
          }

          .which {
            @media (max-width: 450px) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.franchise-form-holder {
  background-image: url("../images/franchise/franchise-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 450px) {
    background-image: url("../images/franchise/form-bg-mob.png");
  }

  .join-form-holder {
    display: flex;
    justify-content: space-between;
    padding-top: 107px;
    align-items: end;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    @media (max-width: 450px) {
      padding-top: 32px;
    }

    .join-left {
      width: 53%;

      @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 30px;
      }

      .join-form-title {
        font-family: "Libre_Baskerville-Regular", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        line-height: 51px;
        color: #fff;
        margin-bottom: 28px;

        @media (max-width: 450px) {
          font-size: 30px;
          line-height: 48px;
        }
      }

      .join-form-sub {
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 25.6px;
        color: #fff;
        margin-bottom: 34px;
      }

      .join-form-text {
        font-family: "Montserrat-Regular", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        color: #fff;
        margin-bottom: 5px;
        width: 80%;

        @media (max-width: 1000px) {
          margin-bottom: 30px;
        }

        @media (max-width: 450px) {
          margin-bottom: 23px;
        }
      }

      .good-looking {
        width: 100%;

        @media (max-width: 1000px) {
          display: none;
        }
      }
    }

    .join-right {
      width: 43%;

      @media (max-width: 1000px) {
        width: 100%;
      }

      .wpcf7 {
        .wpcf7-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          p {
            margin-bottom: 14px;

            &:nth-of-type(1) {
              width: 48%;

              label {
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;
                width: 100%;

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 17px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-image: url("../images/franchise/name-icon.svg");
                  width: 18px;
                  height: 18px;
                }

                .Your-name {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(2) {
              width: 48%;

              label {
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;
                width: 100%;

                .Last-name {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(3) {
              width: 100%;
              margin-top: -7px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 17px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-image: url("../images/franchise/email-icon.svg");
                  width: 18px;
                  height: 18px;
                }

                .Your-email {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(4) {
              width: 100%;
              margin-top: -7px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 17px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-image: url("../images/franchise/phone-icon.svg");
                  width: 18px;
                  height: 18px;
                }

                .phonetext-578 {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(5) {
              width: 100%;
              margin-top: -7px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 17px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-image: url("../images/franchise/address-icon.svg");
                  width: 18px;
                  height: 22px;
                }

                .Street-Address {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(6) {
              width: 48%;
              margin-top: -30px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                .city {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(7) {
              width: 48%;
              margin-top: -30px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                .State {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(8) {
              width: 48%;
              margin-top: -30px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                .Postal-Code {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(9) {
              width: 48%;
              margin-top: -30px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                .countrytext-611 {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 10px 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(10) {
              margin-top: -7px;
              width: 100%;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                .City {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(11) {
              width: 100%;
              margin-top: -7px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 17px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-image: url("../images/franchise/file-icon.svg");
                  width: 18px;
                  height: 18px;
                }

                .file-708 {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    background: #fff;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(12) {
              display: none;
              width: 100%;
              margin-top: -7px;
              margin-bottom: 60px;

              label {
                width: 100%;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 22.6px;
                color: #fff;

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 17px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-image: url("../images/franchise/file-icon.svg");
                  width: 18px;
                  height: 18px;
                }

                .file-709 {
                  input {
                    width: 100%;
                    border: none;
                    padding: 9px 21px;
                    background: #fff;
                    font-family: "Montserrat-Regular", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22.6px;
                    color: #333;
                    border: 1px solid #dcdcdc;
                  }
                }
              }
            }

            &:nth-of-type(13) {
              width: 100%;
              text-align: center;

              input {
                width: 55%;
                border: none;
                padding: 7px 71px;
                background: #ffd900;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 25.6px;
                color: #fff;
                display: block;
                margin: auto;

                @media (max-width: 450px) {
                  width: 63%;
                }
              }
            }
          }
        }
      }
    }
  }

  .good-looking-mob {
    display: none;

    @media (max-width: 450px) {
      display: block;
    }
  }
}
