.template-home {
  @media (max-width: 800px) {
    header.banner {
      position: static;
      padding: 11px 0;
    }
  }

  .promotions-slider-wrap {
    position: relative;

    .promotions-slider {
      .promotion-slide-item {
        position: relative;

        .container {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          // @media (max-width: 480px) {
          //   display: none;
          // }

          p {
            max-width: 40%;
            font-family: "Montserrat-Thin", sans-serif;
          }

          h2 {
            max-width: 40%;
            font-size: 30px;
            line-height: 68px;

            @media screen and (min-width: 320px) {
              font-size: calc(25px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
              line-height: calc(30px + (36 - 10) * ((100vw - 300px) / (1600 - 300)));
            }

            @media screen and (min-width: 1250px) {
              font-size: 45px;
            }
          }


          @media (max-width: 480px) {
            top: 20px;
            transform: translate(-50%, 0);

            h2 {
              max-width: 300px;
              margin-bottom: 0;
            }
          }
        }

        .mobile-preview {
          display: none;
        }

        img {
          // max-width: 100%;
          width: 100%;
          height: auto;
        }

        @media (max-width: 480px) {
          img.attachment-full {
            display: none;
          }

          .mobile-preview {
            display: block;
          }
        }
      }
    }

    .slider-controls {
      position: absolute;
      transform: translate(-50%);
      left: 50%;
      bottom: 10%;

      @media (max-width: 800px) {
        display: none;
      }

      svg {
        cursor: pointer;

        &:first-of-type {
          margin-right: 13px;
        }

        &:last-of-type {
          margin-left: 13px;
        }
      }
    }
  }

  .hero {
    height: 760px;
    width: 100%;
    position: relative;
    background: #f9f9f9;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    overflow: hidden;

    .decor-left {
      position: absolute;
      top: 207px;
      left: 0;
      z-index: -1;
    }

    .container {
      display: flex;
      justify-content: space-between;

      .hero-text {
        max-width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;

        h1 {
          font-size: 41px;
          line-height: 70px;
          padding-right: 0;
        }

        p {
          margin: 25px 0 100px 0;

          .hero-break {
            @media (max-width: 1000px) {
              display: none;
            }
          }
        }

        .socials {
          width: 130px;
          display: flex;
          justify-content: space-between;

          a {
            cursor: pointer;
          }
        }
      }
    }

    .decor-yellow {
      position: absolute;
      right: 0;
      width: 35%;
      height: 760px;
      background: $yellow;
      z-index: -1;
      border-radius: 10% 0 0 0;

      .img-wrap {
        position: absolute;
        transform: translate(-50%);
        bottom: 0;

        .img-mobile {
          display: none;
        }
      }

      .decor-right {
        position: absolute;
        top: 170px;
        right: 140px;
        z-index: -1;
      }
    }
  }

  .second {
    padding: 110px 0;
    overflow: hidden;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .second-text {
        max-width: 700px;

        .item {
          &:first-of-type {
            margin-bottom: 60px;
          }

          .item-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            svg {
              margin-right: 20px;
            }

            h4 {
              margin: 0;
            }
          }
        }

        .color-btn {
          width: 286px;
          margin-top: 50px;
        }
      }

      .decor {
        position: absolute;
        bottom: -40px;
        right: -150px;
        z-index: -1;
      }
    }
  }

  .explore {
    background: $lightBlue;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    z-index: 20;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .explore-text {
        max-width: 415px;

        .item {
          &:first-of-type {
            margin-bottom: 65px;
          }

          p {
            margin: 28px 0 34px 0;
            color: #fff;
            font-family: "Montserrat-Medium", sans-serif;
          }

          .color-btn {
            background: $purple;
            filter: none;
          }
        }
      }
    }

    .decor {
      position: absolute;
      transform: translate(0, -50%);
      left: 0;
      top: 53%;
      z-index: -1;
    }
  }

  .success-stories {
    width: initial;
    height: 760px;
    background: #f9f9f9 url("../images/home/success-stories.png") bottom center no-repeat;
    padding-top: 80px;

    .success-content {
      max-width: 600px;
      margin: auto;
      text-align: center;

      .title {
        span {
          font-family: "Libre_Baskerville-Bold", serif;
        }
      }

      p {
        width: 90%;
        margin: 10px auto 40px auto;
      }

      .color-btn {
        margin: auto;
      }
    }
  }

  .how-it-works {
    padding: 110px 0;
    position: relative;
    overflow: hidden;

    .decor {
      position: absolute;
      right: 0;
      bottom: -200px;
      z-index: -1;
    }

    .container {
      .works-title {
        width: 360px;
        // padding-left: 44px;
      }

      .works-body {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .item {
          width: 350px;
          padding: 0 0 0 74px;
          position: relative;

          svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }

          h5 {
            font-size: 24px;
            line-height: 38px;
            margin-bottom: 20px;
          }
        }
      }

      .color-btn {
        margin: 50px auto 0 auto;
      }
    }
  }

  .why-choose {
    background: $purple;
    padding: 100px 0;
    position: relative;
    z-index: 20;

    .decor {
      position: absolute;
      z-index: -1;
    }

    .decor-l {
      top: 300px;
      left: 56px;
    }

    .decor-right {
      right: 0;
      bottom: -100px;
    }

    .container {
      p {
        color: #fff;
        margin: 40px 0 55px 0;
        font-family: "Montserrat-Medium", sans-serif;
      }

      .why-choose-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 100%;

          p {
            margin: 0 0 40px 0;
            font-family: "Montserrat-Medium", sans-serif;
          }

          svg {
            display: none;
          }
        }
      }
    }
  }

  .shop-exclusive {
    background: #f5f5f5;
    padding: 55px 0 33px 0;
    display: flex;
    align-items: center;

    .exclusive-text {
      max-width: 425px;

      span {
        display: inline-block;
        margin: 22px 0 38px 0;
      }

      p {
        margin-bottom: 60px;
      }
    }
  }

  .current-specials {
    background: $lightBlue;
    padding-top: 40px;
    padding-bottom: 110px;

    .container {
      .first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .percentage {
          position: absolute;
          z-index: 0;
          right: 20%;
          bottom: -20px;
          filter: none;
        }

        .img-wrap {
          z-index: 1;
        }

        .first-text {
          max-width: 535px;

          span {
            display: inline-block;
            margin: 5px 0 35px 0;
            color: #fff;
          }

          p {
            margin-bottom: 40px;
            color: #fff;
          }

          .color-btn {
            background: $yellow;
            filter: none;
          }
        }
      }

      .questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        padding: 70px 0;

        p {
          margin: 18px auto 50px auto;
          width: 90%;
          text-align: center;
        }
      }

      .info-msg {
        padding: 80px 0 65px 0;
        margin: 0;
        color: #fff;
        font-family: "Montserrat-Medium", sans-serif;
        font-size: 22px;
        line-height: 35px;
        visibility: hidden;
      }
    }
  }

  @media (max-width: 1600px) {
    .hero {
      .decor-yellow {
        .decor-right {
          top: 110px;
          right: 80px;
        }
      }
    }
  }

  @media (max-width: 1366px) {
    .hero {
      .decor-yellow {
        width: 30%;
      }
    }

    .success-stories {
      background-size: contain;
    }

    .shop-exclusive {
      .img-wrap {
        width: 60%;
      }
    }
  }

  @media (max-width: 1250px) {
    .second {
      .container {
        .second-text {
          max-width: 600px;
        }
      }
    }
  }

  @media (max-width: 1112px) {
    .hero {
      .decor-yellow {
        width: 20%;
      }
    }

    .how-it-works {
      .container {
        .works-title {
          margin: auto;
          text-align: center;
          padding: 0;
        }

        .works-body {
          flex-direction: column;

          .item {
            width: 80%;
            margin: 0 auto 20px auto;
          }
        }
      }

      .decor {
        bottom: unset;
        top: -200px;
        right: -150px;
      }
    }
  }

  @media (max-width: 1024px) {
    .second {
      .container {
        .second-text {
          max-width: 540px;
          padding-left: 50px;
        }
      }
    }

    .explore {
      padding: 70px 0;

      .container {
        align-items: flex-end;

        .img-wrap {
          width: 50%;
        }

        .explore-text {
          max-width: 440px;
          padding-right: 40px;
        }
      }
    }

    .success-stories {
      height: 660px;
    }

    .shop-exclusive {
      padding: 55px 5% 53px 5%;
      flex-direction: column;

      .exclusive-text {
        max-width: 100%;
        padding-top: 40px;

        p {
          max-width: 85%;
        }
      }

      .img-wrap {
        max-width: 750px;
        width: unset;
      }
    }
  }

  @media (max-width: 1000px) {
    .hero {
      .container {
        .hero-text {
          max-width: 390px;

          h1 {
            font-size: 35px;
            line-height: 57px;
            padding: 0;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .hero {
      .decor-yellow {
        .img-wrap {
          width: 520px;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .container {
        .hero-text {
          max-width: 300px;

          h1 {
            font-size: 36px;
          }

          p {
            margin-bottom: 30px;
          }
        }
      }
    }

    .template-home .hero .container .hero-text {
      max-width: 390px;

      h1 {
        font-size: 35px;
      }

      p {
        width: 75%;
      }
    }

    .second {
      .container {
        .second-text {
          max-width: 450px;
          padding-left: 50px;
        }
      }
    }

    .explore {
      .container {
        flex-direction: column;
        align-items: center;

        .img-wrap {
          width: 55%;
        }

        .explore-text {
          padding: 0 0 60px 0;
        }
      }

      .decor {
        top: 28%;
      }
    }

    .why-choose {
      .container {
        .title {
          max-width: 400px;
        }

        p:first-of-type {
          width: 90%;
        }

        .why-choose-body {
          .item {
            width: 100%;
          }
        }
      }

      .decor-right {
        bottom: -30px;
      }
    }

    .current-specials {
      padding-top: 70px;

      .container {
        .first {
          flex-direction: column;

          .first-text {
            padding-bottom: 45px;

            .color-btn {
              margin: auto;
            }
          }

          .percentage {
            bottom: -50px;
            right: unset;
            width: 100%;
            height: 550px;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .second {
      padding: 70px 0;

      .container {
        flex-direction: column-reverse;

        .second-text {
          padding: 0 0 55px 0;
          max-width: 100%;

          .color-btn {
            margin: 40px auto 0 auto;
          }
        }

        .decor {
          bottom: unset;
          top: 110px;
        }
      }
    }
  }

  @media (max-width: 750px) {
    .hero {
      align-items: flex-start;

      .decor {
        display: none !important;
      }

      .decor-yellow {
        width: 50%;

        .decor-right {
          display: none;
        }

        .img-wrap {
          width: 510px;

          img {
            display: none;
          }

          .img-mobile {
            display: block;
          }
        }
      }

      .container {
        justify-content: center;

        .hero-text {
          margin: 140px 0 0 0;
          max-width: 90%;
          text-align: center;

          p,
          .socials {
            display: none;
          }
        }
      }
    }

    .success-stories {
      height: auto;
      background: #efe5cc;
      padding: 50px 0 65px 0;
    }
  }

  @media (max-width: 650px) {
    .explore {
      .container {
        .img-wrap {
          width: 80%;
        }

        .explore-text {
          max-width: 100%;
        }
      }

      .decor {
        left: -130px;
      }
    }

    .how-it-works {
      .container {
        .works-title {
          margin: 0;
          text-align: left;
        }

        .works-body {
          .item {
            width: 100%;
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .hero {
      .container {
        .hero-text {
          h1 {
            font-size: 32px;
          }
        }
      }
    }

    .current-specials {
      .container {
        .questions {
          padding: 33px 5% 40px 5%;

          h3 {
            font-size: 24px;
            line-height: 38px;
          }

          p {
            font-size: 14px;
          }
        }

        .info-msg {
          font-size: 16px;
          padding-top: 50px;
          width: 75%;
          margin: auto;
        }
      }
    }

    .success-stories {
      .success-content {
        max-width: 90%;

        h3.title {
          font-size: 19px;
          line-height: 30px;
          display: flex;
          flex-direction: column;

          span {
            font-size: 30px;
            line-height: 48px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .second,
    .explore,
    .how-it-works,
    .why-choose {
      .container {
        width: 80%;
      }
    }

    .hero {
      height: 720px;

      .container {
        .hero-text {
          margin-top: 120px;
          max-width: 95%;

          h1 {
            font-size: 30px;
            line-height: 48px;
          }
        }
      }
    }

    .second {
      .container {
        .second-text {
          .color-btn {
            width: 100%;
          }
        }
      }
    }

    .explore {
      .container {
        .explore-text {
          .color-btn {
            margin: auto;
          }
        }

        .img-wrap {
          width: 100%;
        }
      }
    }

    .how-it-works {
      padding: 95px 0 90px 0;

      .container {
        .works-title {
          width: 100%;

          .title {
            font-size: 32px;
          }
        }

        .works-body {
          .item:first-of-type {
            h5 {
              padding-right: 27%;
            }
          }
        }
      }
    }

    .success-stories {
      .success-content {
        h3.title {
          width: 80%;
          margin: auto;
          margin-bottom: 16px;
        }
      }
    }

    .why-choose {
      padding: 55px 0 65px 0;
    }

    .shop-exclusive {
      padding: 60px 0 40px 0;

      .img-wrap {
        order: 2;
      }

      .exclusive-text {
        width: 93%;
        margin-bottom: 80px;
        padding-top: 0;

        span {
          color: #a35a92;
          padding-right: 130px;
        }

        .color-btn {
          margin: auto;
        }
      }
    }

    .current-specials {
      overflow: hidden;
      padding-bottom: 40px;

      .container {
        .first {
          width: 93%;
          margin: auto;

          .img-wrap {
            width: 80%;
          }

          .percentage {
            width: 200%;
            height: 420px;
          }

          .first-text {
            .title {
              max-width: 250px;
            }
          }
        }

        .questions {
          align-items: flex-start;

          p {
            text-align: left;
            width: 100%;
          }

          .color-btn {
            align-self: center;
          }
        }
      }
    }
  }

  @media (max-width: 420px) {
    .hero {
      .container {
        .hero-text {
          max-width: 80%;
        }
      }
    }
  }

  @media (max-width: 400px) {
    .current-specials {
      .container {
        .first {
          .percentage {
            height: 380px;
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    .hero {
      .container {
        .hero-text {
          max-width: 90%;
        }
      }
    }
  }
}
