.locations-header {
  padding: 185px 0 85px 0;
  background: #f9f9f9;

  .container {
    display: flex;

    .header-wrap {
      font-size: 45px;
      width: 420px;
      margin-right: 160px;

      h1 {
        margin-bottom: 17px;
        line-height: 67px;
        font-size: 45px;
      }

      p {
        font-family: "Montserrat-SemiBold", sans-serif;
        font-size: 16px;
        max-width: 100%;
      }
    }

    p {
      max-width: 380px;
    }
  }
}

@media (max-width: 1024px) {
  .locations-header {
    .container {
      justify-content: space-between;

      .header-wrap {
        margin: 0;
      }
    }
  }
}

@media (max-width: 950px) {
  .locations-header {
    .container {
      flex-direction: column;

      p {
        max-width: 85%;
      }
    }
  }
}

@media (max-width: 480px) {
  .locations-header {
    padding: 120px 0 50px 0;

    .container {
      .header-wrap {
        width: 100%;
        margin-bottom: 25px;

        h1 {
          font-size: 30px;
          line-height: 45px;
        }

        p {
          width: 70%;
        }
      }

      p {
        font-size: 14px;
      }
    }
  }
}
