.template-locations {
  .locations-header {
    padding: 185px 0 85px 0;
    background: #f9f9f9;

    .container {
      display: flex;

      .header-wrap {
        font-size: 45px;
        width: 420px;
        margin-right: 160px;

        h1 {
          margin-bottom: 17px;
          line-height: 67px;
          font-size: 45px;
        }

        p {
          font-family: "Montserrat-SemiBold", sans-serif;
          font-size: 16px;
          max-width: 100%;
        }
      }

      p {
        max-width: 380px;
      }
    }
  }

  .map-wrapper {
    position: relative;

    #map {
      width: 100%;
      height: 990px;
    }

    .container {
      position: absolute;
      max-width: 420px;
      top: 17px;
      left: 30%;
      transform: translate(-50%, 0);

      .store-locations {
        width: 550px;
        background: #fff;

        .store-location-single {
          .card-title {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px 40px;
            margin: 0;
            cursor: pointer;
            border-bottom: 1px solid #f0f0f0;

            // &:hover {
            //   background: rgb(221, 113, 198);
            // }

            .location-wrap {
              width: 65%;
              margin-right: 5%;

              p {
                margin: 0;
                text-transform: uppercase;
                line-height: 28px;

                &.active-p {
                  color: #fff;
                  display: block;
                }
              }

              p.location {
                text-transform: initial;
                font-family: "Montserrat-Bold", sans-serif;
                margin-top: 6px;

                &.active-p {
                  color: #fff;
                  display: block;
                }
              }

              .address {
                // display: none;
                text-transform: none;
                color: #dd71c6;

                &.active-p {
                  color: #fff;
                  display: block;
                  text-transform: none;
                }
              }
            }

            // svg {
            //   transition: 0.2s;
            // }

            // .active-svg {
            //   transform: rotate(180deg);
            // }

            .item {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
              padding: 0 !important;
              border-bottom: 1px solid #f0f0f0;
              width: 30%;

              @media (max-width: 400px) {
                padding: 11px 20px;
              }

              &:last-of-type {
                padding: 17px 40px;
              }

              p {
                margin: 0;
                line-height: 40px;
              }

              p.days {
                font-family: "Montserrat-SemiBold", sans-serif;
              }

              a {
                font-family: "Montserrat-SemiBold", sans-serif;
              }

              .directions {
                display: flex;
                align-items: center;
                color: $purple;
                margin-bottom: 12px;

                svg {
                  margin-right: 15px;
                }
              }

              .get-started {
                color: #fff;
                background: $purple;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 169px;
                height: 40px;
              }
            }

            .noborder {
              border: none;
            }
          }

          .open-hrs {
            // display: none;

            .item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 2px 40px;
              border-bottom: 1px solid #f0f0f0;

              @media (max-width: 400px) {
                padding: 11px 20px;
              }

              // &:last-of-type {
              //   padding: 17px 40px;
              // }

              p {
                margin: 0;
                line-height: 40px;
              }

              p.days {
                font-family: "Montserrat-SemiBold", sans-serif;
              }

              a {
                font-family: "Montserrat-SemiBold", sans-serif;
              }

              .directions {
                display: flex;
                align-items: center;
                color: $purple;

                svg {
                  margin-right: 15px;
                }
              }

              .get-started {
                color: #fff;
                background: $purple;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 169px;
                height: 40px;
              }
            }

            .noborder {
              border: none;
            }

            .item2 {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid #f0f0f0;
              padding: 10px 40px;
              background: #dd71c6;

              p.note {
                font-size: 13px;
                font-family: "Montserrat-SemiBold", sans-serif;
                color: #fff;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .new-you-mobile {
    display: none;
  }

  .new-you {
    background: url("../images/location/new-you.png") 45% no-repeat;
    background-size: cover;
    width: 100%;
    height: 760px;
    display: flex;
    align-items: center;

    .container {
      .new-you-frame {
        width: 45%;
        float: right;

        h2 {
          margin-bottom: 33px;
        }

        p {
          margin-bottom: 45px;
        }

        .color-btn {
          filter: none;
        }
      }
    }
  }

  @media (max-width: 1250px) {
    .map-wrapper {
      .container {
        .store-locations {
          width: 450px;
        }
      }
    }

    .new-you {
      .container {
        .new-you-frame {
          h2 {
            font-size: 26px;
            margin-bottom: 13px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .locations-header {
      .container {
        justify-content: space-between;

        .header-wrap {
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .new-you {
      background-position: 22%;
      height: 520px;

      .container {
        display: none;
      }
    }

    .new-you-mobile {
      display: block;
      padding: 60px 0;

      .container {
        .new-you-frame {
          width: 80%;
          margin: auto;
          text-align: center;

          h2 {
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 32px;
          }

          .color-btn {
            filter: none;
            margin: auto;
          }
        }
      }
    }
  }

  @media (max-width: 950px) {
    .locations-header {
      .container {
        flex-direction: column;

        p {
          max-width: 85%;
        }
      }
    }
  }

  @media (max-width: 990px) {
    .map-wrapper {
      display: flex;
      flex-direction: column-reverse;

      .container {
        position: static;
        transform: translate(0);
        max-width: 90%;

        .store-locations {
          width: 100%;

          .store-location-single {
            .card-title {
              padding: 20px;
            }
          }
        }
      }
    }

    .new-you-mobile .container .new-you-frame {
      width: 100%;
    }

    .new-you {
      height: 420px;
    }
  }

  @media (max-width: 600px) {
    .new-you-mobile .container .new-you-frame {
      h2 {
        font-size: 28px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 480px) {
    .map-wrapper .container .store-locations .store-location-single .card-title {
      padding-right: 2px;
      padding-left: 2px;

      .item .directions svg {
        margin-right: 6px;
      }
    }

    .map-wrapper .container .store-locations .store-location-single .open-hrs .item2 {
      padding: 11px 11px;
      text-align: center;
    }



    .locations-header {
      padding: 120px 0 50px 0;

      .container {
        .header-wrap {
          width: 100%;
          margin-bottom: 25px;

          h1 {
            font-size: 30px;
            line-height: 45px;
          }

          p {
            width: 70%;
          }
        }

        p {
          font-size: 14px;
        }
      }
    }

    .new-you {
      height: 310px;
    }

    .new-you-mobile {
      .container {
        .new-you-frame {
          text-align: left;

          h2 {
            line-height: 48px;
            max-width: 280px;
          }
        }
      }
    }
  }
}
