.template-media {
  display: block !important;

  .blog-wrapper {
    .post-list {
      padding-right: 0;

      .single-post {
        width: 30%;

        .post-text {
          h2 {
            flex-grow: 1;
          }

          .post-description {
            display: none;
          }
        }

        &:first-of-type {
          display: flex;

          .post-featured-image {
            width: 60%;

            .post-image-link {
              img {
                height: auto;
              }
            }
          }

          .post-text {
            width: 40%;

            .post-description {
              display: block;
            }
          }
        }
      }
    }
  }

  .blog-pagination {
    .pagination {
      margin: 40px auto 70px auto;
    }
  }

  @media (max-width: 1024px) {
    .blog-wrapper .post-list .single-post {
      width: 48%;

      .post-text {
        min-height: 305px;
      }
    }
  }

  @media (max-width: 900px) {
    .blog-wrapper .post-list {
      flex-wrap: wrap;

      .single-post {
        width: 80%;
        margin: auto;
        margin-bottom: 35px;

        &:first-of-type {
          display: flex;
          flex-direction: column;
          width: 80%;

          .post-featured-image {
            width: 100%;
          }

          .post-text {
            width: 100%;

            .post-description {
              display: block;
            }
          }
        }

        .post-text {
          min-height: auto;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .blog-wrapper .post-list {
      .single-post {
        width: 90%;

        &:first-of-type {
          width: 90%;
        }
      }
    }
  }
}
