.template-patient-stories {
  header.banner {
    .container .desktop-nav {
      ul li a {
        color: #fff;
      }
    }
  }

  .testimonials {
    padding-top: 200px;
  }

  .low-bar {
    background: #f9f9f9;

    .stories {
      // height: 250px;
      // padding-top: 186px;
      // padding-bottom: 90px;
      padding: 90px 0;
      display: flex;
      align-items: center;

      .h1 {
        margin-bottom: 0;

        h1 {
          // margin-left: 20%;
          font-family: "Libre_Baskerville", serif;
          font-style: normal;
          font-weight: normal;
          font-size: 45px;
          line-height: 150%;
          color: #333;
          margin-bottom: 0;
        }
      }

      .p {
        margin-left: 125px;
        margin-bottom: 0;
        // margin-top: 12px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #333;
        display: flex;
        flex-direction: column;

        p {
          margin: 0;
        }
      }
    }
  }

  .patient-stories {
    position: relative;
    overflow: hidden;

    .gray-bg {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 600px;
      //background-color: rgba(187, 187, 187, 0.2);
      background: #f9f9f9;
      bottom: 0;
    }
  }

  .women {
    // margin-top: 150px;
    // height: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 90px;

    svg {
      display: none;
    }

    #annette {
      margin-top: 60px;
    }

    .shequita-annete {
      display: flex;
      width: 100;

      .shequita-before {
        width: 290px;
        height: 534px;
        background-image: url("../images/patient-stories/shequita-before.png");
        display: flex;
        justify-content: flex-end;
        background-repeat: no-repeat;
      }

      .shequita-after {
        width: 290px;
        height: 534px;
        background-image: url("../images/patient-stories/shequita-after.png");
        background-repeat: no-repeat;
        z-index: 1;
      }

      .annette-before {
        width: 290px;
        height: 534px;
        background-image: url("../images/patient-stories/annette-before.png");
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
      }

      .annette-after {
        width: 290px;
        height: 534px;
        background-image: url("../images/patient-stories/annette-after.png");
        background-repeat: no-repeat;
      }

      .before {
        margin-top: 473px;
        width: 169px;
        height: 36px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #333;
      }

      .after {
        margin-top: 473px;
        width: 169px;
        height: 36px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #333;
      }

      .purple {
        width: 560px;
        padding: 34px 40px 41px 40px;
        background-color: $lightBlue;

        .text {
          h1 {
            text-transform: uppercase;
            font-family: "Montserrat-Bold", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 160%;
            color: #fff;
          }

          h3 {
            font-family: "Montserrat-Medium", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            line-height: 160%;
            color: #fff;
          }

          p {
            margin: 0;
            font-family: "Montserrat-Medium", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 160%;
            color: #fff;
          }
        }
      }
    }
  }

  .testimonial-videos {
    margin-bottom: 40px;
    margin-top: 70px;

    .carousel {
      .carousel-inner {
        .carousel-item {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            height: 100%;
            transform: translate(6%, 0);
          }
        }
      }
    }

    .testimonial-slider {
      margin-bottom: 10px;

      // .slick-slide {
      //   width: 800px;
      // }

      // .slide-item {
      //   width: 100%;
      //   position: relative;
      //   z-index: 1;
      //   padding-bottom: 56.25%;

      //   iframe {
      //     width: 95%;
      //     height: 100%;
      //     position: absolute;
      //     margin: 0 50px;
      //   }
      // }
    }

    .testimonial-arrows {
      ul {
        padding-inline-start: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;

        li {
          padding: 10px;
          margin: 0 15px;
          color: $lightBlue;
          cursor: pointer;
          font-size: 34px;
        }

        a {
          padding: 10px;
          margin: 0 15px;
          color: $lightBlue;
          cursor: pointer;
          font-size: 34px;
          position: static;
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: 1150px) {
    .low-bar {
      .stories {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 75px;
        padding-bottom: 40px;
        // height: 220px;

        .h1 {
          margin: 0;
          margin-bottom: 40px;
        }

        br {
          display: none;
        }

        .p {
          margin: 0;
          text-align: center;
        }
      }
    }

    .patient-stories {
      .women {
        margin-top: 150px;
        position: relative;
        background-color: $purple;
        width: 100%;
        padding-bottom: 30px;
        // height: 2000px;

        svg {
          position: absolute;
          display: block;
        }

        .bubble1 {
          left: 77.9%;
          top: 56px;
        }

        .bubble2 {
          left: 0;
          top: 709px;
        }

        .bubble3 {
          left: 78%;
          top: 1550px;
        }

        .shequita-annete {
          margin-top: -170px;
          flex-wrap: wrap;
          width: 70%;

          .shequita-before {
            background-size: cover;
            width: 50%;
            order: -8;
            background-position-x: 40%;

            .before {
              width: 100%;
            }
          }

          .shequita-after {
            background-size: cover;
            width: 50%;
            order: -6;
            background-position-x: 40%;

            .after {
              width: 100%;
            }
          }

          .annette-before {
            background-size: cover;
            width: 50%;
            order: -8;
            background-position-x: 40%;

            .before {
              width: 100%;
            }
          }

          .annette-after {
            background-size: cover;
            width: 50%;
            order: -6;
            background-position-x: 40%;

            .after {
              width: 100%;
            }
          }

          .purple {
            width: 100%;
          }
        }

        #annette {
          margin: 0;
        }
      }
    }

    .testimonial-videos {
      // background: #dd71c6;
      // margin-top: -3px;
      margin-bottom: 0;

      .testimonial-slider {
        .slick-slide {
          width: 650px;
        }
      }

      .testimonial-arrows {
        padding-bottom: 55px;

        ul li {
          padding: 0;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
      }
    }
  }

  @media (max-width: 965px) {
    .patient-stories {
      .women {
        // height: 1800px;

        svg {
          position: absolute;
          display: block;
        }

        .bubble1 {
          left: 77.9%;
          top: 56px;
        }

        .bubble2 {
          left: 0;
          top: 709px;
        }

        .bubble3 {
          left: 78%;
          top: 1550px;
        }

        .shequita-annete {
          width: 70%;

          .purple {
            // h1 {
            //   font-size: 18px;
            // }

            h3 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }

      .testimonial-slider {
        .slick-slide {
          width: 450px;
        }
      }
    }
  }

  @media (max-width: 760px) {
    .patient-stories {
      .women {
        // height: 1900px;

        .shequita-annete {
          width: 70%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .patient-stories {
      .women {
        // height: 1650px;

        svg {
          position: absolute;
          display: block;
        }

        .bubble1 {
          left: 60%;
          top: 56px;
        }

        .bubble2 {
          left: 0;
          top: 709px;
        }

        .bubble3 {
          left: 60%;
          top: 1400px;
        }

        .shequita-annete {
          width: 90%;

          .purple {
            h1 {
              font-size: 16px;
            }

            h3 {
              font-size: 14px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }
    }

    .testimonial-videos {
      // .testimonial-arrows {
      //   display: none;
      // }

      .testimonial-slider {
        margin: 0;
        padding-bottom: 0;

        .slick-slide {
          width: 350px;
        }
      }

      .testimonial-arrows {
        ul {
          padding-bottom: 0;

          li {
            font-size: 24px;
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: 525px) {
    .patient-stories {
      .women {
        // height: 1700px;

        svg {
          position: absolute;
          display: block;
        }

        .bubble1 {
          left: 55%;
          top: 56px;
        }

        .bubble2 {
          left: 0;
          top: 709px;
        }

        .bubble3 {
          left: 55%;
          top: 1450px;
        }

        .shequita-annete {
          .purple {
            h1 {
              font-size: 16px;
            }

            h3 {
              font-size: 14px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .patient-stories .gray-bg {
      height: 500px;
    }

    .testimonial-videos {
      .testimonial-slider {
        .slick-slide {
          width: 290px;
        }
      }
    }
  }

  @media (max-width: 446px) {
    .low-bar {
      .stories {
        padding-top: 45px;

        .h1 {
          margin-bottom: 20px;

          h1 {
            font-size: 30px;
            line-height: 45px;
          }
        }

        .p {
          text-align: left;
        }
      }
    }

    .patient-stories {
      .women {
        // height: 1800px;

        svg {
          position: absolute;
          display: block;
        }

        .bubble1 {
          left: 43%;
          top: 56px;
        }

        .bubble2 {
          left: 0;
          top: 650px;
        }

        .bubble3 {
          left: 43%;
          top: 1550px;
        }

        .shequita-annete {
          width: 95%;

          .shequita-after {
            z-index: 2;
          }

          .annette-before {
            z-index: 2;
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    .patient-stories {
      .women {
        svg {
          position: absolute;
          display: block;
        }

        .bubble1 {
          left: 32%;
          top: 56px;
        }

        .bubble2 {
          left: 0;
          top: 650px;
        }

        .bubble3 {
          left: 33%;
          top: 1550px;
        }

        .shequita-annete {
          width: 95%;

          .shequita-after {
            z-index: 2;
          }

          .annette-before {
            z-index: 2;
          }
        }
      }
    }
  }
}
