.template-program {
  .programs-list {
    position: relative;

    .decor {
      position: absolute !important;
      z-index: -1;

      &.decor-container {
        transform: translate(-50%, 0);
        right: 0;
        top: 900px;
      }

      &.decor-l {
        top: 60%;
        left: 60px;
      }

      &.decor-r {
        bottom: 250px;
        right: 0;
      }
    }

    .gray {
      position: absolute;
      top: 0;
      width: 100%;
      height: 600px;
      background: #f9f9f9;
      padding-top: 180px;
      z-index: -1;

      .container {
        display: flex;

        h1 {
          width: 350px;
          margin-right: 150px;
        }

        p {
          max-width: 360px;
        }
      }
    }

    .all-programs {
      z-index: 20;
      padding: 350px 0 90px 0;

      .color-btn {
        margin-bottom: 11%;
        margin-left: 44%;
      }

      .program {
        margin-bottom: 40px;
        display: flex;

        .program-desc {
          width: 60%;
          padding: 50px;
          background: #fff;
          box-shadow: 0 4px 45px rgba(51, 51, 51, 0.06);
        }

        .program-tile {
          max-width: 404px;
          padding: 29px 39px 39px 39px;
          color: #fff;
          display: flex;
          flex-direction: column;

          p,
          span {
            color: #fff;
          }

          .program-title {
            font-family: "Montserrat-Bold", sans-serif;
            font-size: 22px;
            line-height: 35px;
            margin-bottom: 10px;
          }

          .lose-amount {
            font-size: 14px;
            line-height: 22px;
            font-family: "Montserrat-SemiBold", sans-serif;
          }

          ul {
            padding-inline-start: 20px;
            font-family: "Montserrat", sans-serif;
            margin-top: 30px;
            flex-grow: 1;

            li {
              margin-bottom: 12px;
            }
          }

          .supervised {
            font-size: 18px;
            line-height: 29px;
            font-family: "Montserrat-SemiBold", sans-serif;
          }

          &.basic {
            background: linear-gradient(151.58deg, #73c3f4 0%, #7d73f4 100%);
            width: unset !important;
          }

          &.lipo-ignite {
            background: linear-gradient(154.94deg, #ffd900 0%, #f90 100%);
            padding-top: 80px;
            position: relative;

            .most-pop {
              position: absolute;
              top: 30px;
              left: -10px;
              background: #fff;
              color: #4c4c4c;
              width: 220px;
              text-align: center;
              font-family: "Montserrat-SemiBold", sans-serif;
              padding: 2px 0;
              box-shadow: 0 4px 45px rgba(51, 51, 51, 0.06);
            }

            .view-formula {
              flex-grow: 100;
              cursor: pointer;
              display: flex;
              position: relative;

              &:hover {
                .view-formula-desc {
                  display: block;
                }
              }

              .view-formula-desc {
                position: absolute;
                top: 40px;
                left: 0;
                background: #f9f9f9;
                width: 485px;
                padding: 35px 50px 0 50px;
                cursor: auto;
                display: none;

                p {
                  color: #333;
                  text-decoration: none;
                }
              }

              p {
                text-decoration: underline;
              }

              svg {
                margin-right: 12px;
              }
            }
          }

          &.elite {
            background: linear-gradient(151.58deg, #dd71c6 0%, #ee5a5a 100%);
            width: unset !important;
          }

          &.crave-x {
            background: linear-gradient(151.58deg, #94dae0 0%, #73d1d9 100%);
            width: unset !important;
          }
        }
      }
    }
  }

  .first-step {
    background: $purple;
    position: relative;
    z-index: 20;
    padding: 50px 0;

    .decor {
      position: absolute;
      transform: translate(0, -50%);
      left: 90px;
      top: 50%;
      z-index: -1;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .first-step-text {
        max-width: 460px;

        p {
          color: #fff;
          margin: 25px 0 36px 0;
        }

        .color-btn {
          background: $lightBlue;
        }
      }
    }
  }

  @media (max-width: 1250px) {
    .programs-list {
      .all-programs {
        .color-btn {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .programs-list {
      .gray {
        .container {
          justify-content: space-between;

          h1 {
            margin: 0;
          }
        }
      }

      .all-programs {
        padding-top: 390px;
      }
    }

    .first-step {
      .decor {
        display: none;
      }

      .container {
        .img-wrap {
          width: 40%;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .programs-list {
      .decor {
        &.decor-container {
          right: unset;
          left: -50px;
          top: 1150px;
        }

        &.decor-l {
          top: 69%;
          left: -75px;
        }
      }

      .gray {
        padding-top: 150px;

        .container {
          flex-direction: column;

          p {
            max-width: 85%;
            margin-top: 25px;
          }
        }
      }

      .all-programs {
        padding-bottom: 0;

        .color-btn {
          margin-right: auto;
        }

        .program {
          flex-direction: column;

          .program-tile {
            max-width: 100%;
          }

          .program-desc {
            width: 100%;
            padding: 29px 39px 39px 39px;
            background: none;
            box-shadow: none;
          }
        }
      }
    }

    .first-step {
      .container {
        .first-step-text {
          max-width: 360px;

          h3 {
            font-size: 25px;
          }

          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    .programs-list {
      .all-programs {
        padding-top: 400px;
      }
    }

    .first-step {
      .container {
        flex-direction: column;
        align-items: flex-start;

        .img-wrap {
          margin-top: 60px;
          width: 60%;
          align-self: center;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .programs-list .all-programs .program .program-tile.lipo-ignite .view-formula .view-formula-desc {
      width: 100%;
      padding: 15px 20px 0 20px;
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    .programs-list {
      .gray {
        .container {
          align-items: center;
          text-align: center;

          h1 {
            width: auto;
            font-size: 30px;
          }
        }
      }

      .all-programs {
        padding-top: 427px;

        .color-btn {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20%;
        }

        .program {
          .program-tile {
            padding: 30px 40px 40px 25px;

            ul {
              font-size: 14px;
            }
          }

          .program-desc {
            padding: 30px 20px 40px 25px;

            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .first-step {
      .container {
        .img-wrap {
          width: 90%;
        }
      }
    }
  }
}
