.single-post {
  position: relative;

  .single-post-wrapper {
    .gray {
      width: 100%;
      height: 380px;
      position: absolute;
      top: 0;
      background: #f9f9f9;
      z-index: -1;
    }

    article.single-blog {
      padding-top: 180px;

      .entry-content {
        display: flex;

        .blog-main-body {
          margin-right: 50px;
          background: #fff;

          a {
            color: #00e;
          }

          img {
            max-width: 100%;
            height: auto;
          }

          .blog-title {
            margin-bottom: 45px;

            img {
              width: 100%;
              height: 275px;
              object-fit: cover;
            }

            .title-wrap {
              padding: 38px 45px 32px 45px;
              background: #fff;
              box-shadow: 0 4px 35px rgba(51, 51, 51, 0.05);

              h1 {
                font-size: 24px;
                line-height: 38px;
              }

              p {
                font-size: 14px;
                font-family: "Montserrat-SemiBold", sans-serif;
                color: #bababa;
                margin: 0;
              }
            }
          }

          .wp-playlist {
            border: none;
            padding: 0;
            margin-bottom: 40px;

            .wp-playlist-tracks {
              display: none;
            }
          }

          .after-blog {
            padding: 73px 0 60px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .tags,
            .share {
              p {
                margin: 0 27px 0 0;
                font-family: "Montserrat-SemiBold", sans-serif;
                color: #acacac;
                font-size: 18px;
              }
            }

            .tags {
              display: flex;
              align-items: center;

              a {
                margin-right: 11px;
                background: #f1f1f1;
                padding: 3px 9px;
                font-size: 14px;
                border-radius: 5px;
              }
            }

            .share {
              display: flex;
              align-items: center;

              a {
                margin-right: 28px;

                &:last-of-type {
                  margin: 0;
                }
              }
            }
          }

          .author {
            background: #f9f9f9;
            padding: 40px 50px 40px 45px;
            display: flex;
            margin-bottom: 60px;

            .author-desc {
              width: 80%;
              margin-left: 30px;

              .author-upper {
                .nadname {
                  font-family: "Montserrat-SemiBold", sans-serif;
                  color: #bababa;
                  font-size: 14px;
                  margin-bottom: 4px;
                }

                .name {
                  font-family: "Montserrat-SemiBold", sans-serif;
                  font-size: 18px;
                  margin-bottom: 12px;
                }
              }

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      #comments {
        width: 71%;

        .num-of-comments {
          font-family: "Montserrat-SemiBold", sans-serif;
          font-size: 18px;
          border-bottom: 1px solid #f0f0f0;
          padding-bottom: 24px;
        }

        .comment-list {
          img {
            width: 75px;
            height: 75px;
            border-radius: 100%;
            margin-right: 40px;
          }
        }

        .comment-content {
          margin-left: 115px;
        }

        #commentform {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          p {
            width: 100%;
          }

          .comment-notes {
            order: -2;
            margin-top: 8px;
          }

          .comment-form-author,
          .comment-form-email {
            width: 48%;
            order: -1;

            input {
              background: #dcdcdc;
            }
          }

          .comment-form-comment {
            textarea#comment {
              background: #dcdcdc;
              resize: none;

              &:focus {
                outline: none;
              }
            }
          }

          .comment-form-url {
            display: none;
          }

          .comment-form-cookies-consent {
            display: flex;
            align-items: flex-start;

            input {
              margin-top: 5px;
              margin-right: 20px;
            }
          }

          .form-submit {
            margin-bottom: 100px;

            input {
              background: $purple;
              border: none;

              &:focus {
                outline: none;
              }
            }
          }
        }
        // #respond {
        //   #reply-title {
        //     display: none;
        //   }
        // }
      }
    }
  }

  @media (max-width: 1000px) {
    .single-post-wrapper {
      article.single-blog {
        .entry-content {
          flex-direction: column;

          .blog-main-body {
            width: 100%;
            margin: 0;
          }
        }
      }
    }

    .single-post-wrapper article.single-blog #comments {
      padding-top: 45px;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .single-post-wrapper {
      article.single-blog {
        .entry-content {
          .blog-main-body {
            .after-blog {
              flex-direction: column;

              .share {
                margin-top: 20px;

                p {
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .single-post-wrapper article.single-blog #comments {
      #commentform {
        .comment-form-author,
        .comment-form-email {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .single-post .single-post-wrapper article.single-blog .entry-content .blog-main-body .blog-title {
      height: 200px;
    }
  }
}
