.template-subscription {
  .payment-modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 2000;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;

    iframe {
      width: 80% !important;
      max-width: 1200px;
      color: #fff !important;
      position: absolute;
      top: 65px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;

      p {
        color: #fff !important;
      }
    }

    @media (max-width: 1200px) {
      iframe {
        width: 90% !important;
      }

      .close-modal {
        width: 90% !important;
      }
    }

    .close-modal {
      position: absolute;
      max-width: 1100px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      top: 20px;
      z-index: -10;

      .x-btn {
        color: #000;
        background: #fff;
        font-size: 30px;
        z-index: 99999999;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
    }
  }

  .header {
    .upper-header {
      padding: 170px 0 200px 0;
      background: #f9f9f9;
      position: relative;

      .timer {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        width: 940px;
        height: 250px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;

        svg {
          margin-top: 20px;
        }

        .item {
          width: 10%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        p {
          font-size: 14px;
          line-height: 22px;
          color: #bababa;
          text-transform: uppercase;
          text-align: right;
          margin-bottom: 25px;
        }

        .timer-int {
          font-size: 75px;
          color: #333;
          font-family: "Montserrat-Thin", sans-serif;
        }
      }

      h1 {
        max-width: 740px;
        margin: auto;
        text-align: center;
      }
    }

    .lower-header {
      padding-top: 200px;
      background: $lightBlue;

      .container {
        display: flex;
        justify-content: space-between;

        .text-wrap {
          max-width: 500px;
          padding-bottom: 50px;

          .title {
            margin-bottom: 33px;
          }

          p {
            color: #fff;
            max-width: 350px;
            margin-bottom: 30px;

            span {
              color: #fff;
              font-family: "Montserrat-Bold", sans-serif;
            }
          }

          strong.regular-price {
            color: #fff;
            max-width: 280px;
            display: block;
            margin-bottom: 25px;
          }

          .color-btn {
            background: $yellow;
            margin-bottom: 15px;
            filter: none;
          }
        }

        .img-wrap {
          align-self: flex-end;
        }
      }
    }
  }

  .belt {
    background: #f9f9f9;
    padding: 70px 0 35px 0;

    .container {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;

        &:last-of-type {
          .belt-text {
            width: 150px;
          }
        }

        .belt-text {
          margin-left: 16px;

          h2 {
            font-size: 24px;
            margin: 0;
          }
        }
      }
    }
  }

  .what-is-lipo {
    padding: 85px 0 100px 0;

    .container {
      .subtitle {
        font-family: "Montserrat-SemiBold", sans-serif;
      }

      .lipo-text {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;

        .tab {
          ul {
            padding-inline-start: 20px;
            font-family: "Montserrat", sans-serif;
          }

          &.first-tab {
            max-width: 480px;
          }

          &.second-tab {
            max-width: 535px;
            position: relative;

            .bold-text {
              font-family: "Montserrat-Bold", sans-serif;
              margin-top: 40px;
            }

            img {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }

      .lipo-testimonials {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;

        .lipo-testimonial {
          width: 30%;

          .image-wrap {
            position: relative;

            p {
              position: absolute;
              margin: 0;
              color: #fff;
              bottom: 0;
              font-family: "Montserrat-SemiBold", sans-serif;
              background: linear-gradient(0deg, #333 0%, rgba(51, 51, 51, 0) 100%);
              width: 50%;
              text-align: center;
              padding-bottom: 10px;

              &.before {
                transform: translate(-50%, 0);
                left: 25%;
              }

              &.after {
                transform: translate(50%, 0);
                right: 25%;
              }
            }
          }

          .bottom {
            width: 100%;
            padding: 22px 5%;
            background: $purple;

            p {
              color: #fff;
              margin: 0;

              &.lost-amount {
                margin-bottom: 4px;
                font-family: "Montserrat-Bold", sans-serif;
              }

              &.name {
                font-family: "Montserrat-Medium", sans-serif;
              }
            }
          }
        }
      }

      .color-btn {
        margin: 50px auto 0 auto;
        background: $yellow;
        filter: none;
      }
    }
  }

  .nutrients-include {
    background: $purple;
    padding: 70px 0 85px 0;
    position: relative;
    z-index: 0;

    .expandables {
      margin-bottom: 20px;

      .expandable-item {
        cursor: pointer;

        .item-title {
          display: flex;
          align-items: center;

          p {
            margin: 0 10px 0 0;
            font-family: "Montserrat-Bold", sans-serif;
          }

          svg {
            transition: 1s;
          }

          .active-svg {
            transform: rotate(180deg);
          }
        }

        .item-expand {
          margin-left: 21px;
          width: 95%;
          display: none;
        }
      }
    }

    .decor {
      position: absolute;
      z-index: -1;
    }

    .decor-l {
      left: 0;
      top: 220px;
    }

    .decor-r {
      right: 0;
      top: 55%;
    }

    .container {
      .title {
        margin-bottom: 60px;
      }

      .nutrients-mobile-wrap {
        display: none;

        .nutrient-item-active {
          .upper {
            border-bottom: 4px solid #fff !important;

            p {
              font-family: "Montserrat-Bold", sans-serif;
            }
          }
        }

        .nutrient-item {
          .upper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #fff;
            padding: 13px 0;
            margin-top: 24px;
            cursor: pointer;
          }

          .nutrient-description {
            display: none;
          }

          &:first-of-type {
            margin-top: 0;
            padding-top: 0;
          }

          p {
            margin: 0;
            color: #fff;
          }
        }
      }

      .nutrients-wrap {
        display: flex;
        justify-content: space-between;

        .list-frame {
          width: 400px;

          .nutrient-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #fff;
            padding: 13px 0;
            margin-top: 24px;
            cursor: pointer;

            &:first-of-type {
              margin-top: 0;
              padding-top: 0;
            }

            p {
              margin: 0;
              color: #fff;
            }
          }

          .nutrient-item-active {
            border-bottom: 4px solid #fff;

            p {
              font-family: "Montserrat-Bold", sans-serif;
            }
          }
        }

        .nutrient-description-wrap {
          max-width: 650px;

          p {
            color: #fff;
          }

          .nutrient-description {
            display: none;
          }

          .nutrient-desc-active {
            display: block;
          }
        }
      }
    }
  }

  .customer-reviews {
    background: linear-gradient(to right, #fff 50%, #f9f9f9 50%);

    .container {
      display: flex;

      .title {
        color: #333;
      }

      .left-section,
      .right-section {
        padding: 70px 0;
        width: 50%;
      }

      .left-section {
        padding-right: 35px;

        .title {
          margin-bottom: 12px;
        }

        p {
          font-family: "Montserrat-SemiBold", sans-serif;
          margin-bottom: 50px;
        }
      }

      .right-section {
        padding-left: 35px;

        .title {
          max-width: 360px;
          margin-bottom: 40px;
        }

        .color-btn {
          background: $yellow;
          margin-top: 40px;
          filter: none;
        }
      }
    }
  }

  .covid {
    position: relative;
    padding: 70px 0;
    background: $lightBlue;
    overflow: hidden;

    .decor {
      position: absolute;
      right: 0;
      bottom: 50px;
    }

    .container {
      .title {
        margin-bottom: 40px;
      }

      .covid-text-wrap {
        display: flex;
        justify-content: space-between;

        .tab {
          max-width: 540px;

          p,
          ul {
            color: #fff;
          }

          ul {
            padding-inline-start: 20px;
          }

          span {
            display: inline-block;
            font-family: "Montserrat-SemiBold", sans-serif;
            color: #fff;
            margin-top: 22px;
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (max-width: 1250px) {
    header {
      .upper-header {
        padding: 0 10% 0 8%;
      }
    }

    .nutrients-include {
      .container {
        .nutrients-wrap {
          .nutrient-description-wrap {
            padding-left: 35px;
          }
        }
      }
    }

    .covid {
      .container {
        .covid-text-wrap {
          .tab {
            &:first-of-type {
              padding-right: 35px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1112px) {
    .what-is-lipo {
      .container {
        .lipo-text {
          .first-tab {
            padding-right: 35px;
          }
        }
      }
    }

    .nutrients-include {
      .container {
        .nutrients-wrap {
          .list-frame {
            br {
              display: inline-block !important;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .header {
      .upper-header {
        .timer {
          padding: 0 10% 0 7%;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .header {
      .upper-header {
        .timer {
          width: 90%;
        }
      }
    }

    .belt {
      .container {
        flex-wrap: wrap;

        .item {
          width: 50% !important;
        }
      }
    }
  }

  @media (max-width: 950px) {
    .nutrients-include {
      .decor-r {
        top: 500px;
      }

      .container {
        .nutrients-wrap {
          display: none;
        }

        .nutrients-mobile-wrap {
          display: block;

          .nutrient-item {
            .upper {
              svg {
                transition: 0.5s;
              }

              .svg-active {
                transform: rotate(180deg);
              }
            }

            .nutrient-description {
              margin-top: 30px;

              .expandables {
                .expandable-item {
                  .item-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                      margin: 0;
                    }
                  }
                }
              }

              p {
                margin-bottom: 1em;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .header {
      .upper-header {
        .timer {
          .item {
            width: 15%;
          }

          svg {
            margin-top: 20px;
          }
        }
      }

      .lower-header {
        .container {
          flex-direction: column;

          .text-wrap {
            max-width: 80%;
          }

          .img-wrap {
            align-self: center;
          }
        }
      }
    }

    .what-is-lipo {
      .container {
        .lipo-text {
          flex-direction: column;

          .first-tab {
            padding-right: 0;
          }

          .tab {
            max-width: 100% !important;
          }
        }
      }
    }

    .covid {
      .container {
        .covid-text-wrap {
          flex-direction: column;

          .tab {
            max-width: 100%;

            &:first-of-type {
              padding: 0;
            }
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    .header {
      .upper-header {
        h1 {
          max-width: 90%;
          font-size: 32px;
        }
      }
    }

    .belt {
      .container {
        flex-direction: column;
        align-items: center;

        .item {
          justify-content: space-around;

          &:last-of-type {
            .belt-text {
              width: 200px;
            }
          }

          .belt-text {
            width: 200px;
          }
        }
      }
    }

    .what-is-lipo {
      .container {
        .lipo-testimonials {
          flex-direction: column;
          align-items: center;

          .lipo-testimonial {
            width: 50%;
            margin-bottom: 20px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .customer-reviews {
      background: none;

      .container {
        flex-direction: column;
        width: 100%;

        .left-section,
        .right-section {
          width: 100%;
          padding: 40px 5% 0 5%;
        }

        .right-section {
          padding-bottom: 50px;
          background: #f9f9f9;
          margin-top: 40px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .belt {
      .container {
        .item {
          width: auto !important;
        }
      }
    }

    .nutrients-include {
      overflow: hidden;

      .decor-l {
        top: -160px;
      }
    }

    .payment-modal iframe {
      min-height: 1500px !important;
    }
  }

  @media (max-width: 550px) {
    .header {
      .upper-header {
        padding: 140px 0 120px 0;

        h1 {
          font-size: 30px;
          line-height: 48px;
        }

        .timer {
          height: 112px;

          p {
            margin-bottom: 12px;
          }

          .timer-int {
            font-size: 35px;
          }

          svg {
            height: 20px;
          }
        }
      }

      .lower-header {
        padding-top: 100px;

        .container {
          .img-wrap {
            width: 80%;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .what-is-lipo {
      padding: 60px 0 40px 0;

      .container {
        .lipo-testimonials {
          .lipo-testimonial {
            width: 100%;

            .image-wrap {
              .img-fluid {
                width: 100%;
              }
            }
          }
        }

        .color-btn {
          width: 100%;
        }
      }
    }

    .nutrients-include .container .nutrients-mobile-wrap .nutrient-item-active .upper p {
      width: 100%;
    }

    .customer-reviews {
      .container {
        .right-section {
          .color-btn {
            width: 100%;
          }
        }
      }
    }
  }
}
