.thankyou-section {
  background-image: url("../images/thankyou/background.png");
  background-repeat: no-repeat;
  height: 1078px;
  background-position-x: right;

  .hero {
    display: flex;

    .womans {
      padding-left: 15%;
      padding-top: 8%;

      .womans-mobile {
        display: none;
      }
    }

    .text {
      padding-top: 382px;
      padding-right: 17%;
      padding-left: 10%;

      text-align: center;

      .download {
        background-color: #DD71C6;
        color: white;
        text-decoration: none;
        border: none;
        font-family: 'Montserrat,san-serif';
        font-weight: 600;
        font-size: 16px;
        line-height: 25.6px;
        display: inline-block;
        text-align: center;
        padding: 7px 40px;
      }

      h1 {
        font-family: 'Libre Baskerville, san-serif';
        font-size: 70px;
        line-height: 150%;
        color: #333333;
      }

      p {
        font-family: 'Montserrat,san-serif';
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        color: #333333;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 5%;
      }
    }
  }

  @media (max-width: 1700px) {
    .hero {
      .text {
        padding-left: 0%;
        padding-right: 20%;
      }
    }
  }

  @media (max-width: 1450px) {
    .hero {
      .text {
        padding-left: 0%;
        padding-right: 20%;
      }
    }
  }

  @media (max-width: 1430px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-left: 36%;
      }
    }
  }

  @media (max-width: 1300px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-left: 27%;
      }
    }
  }

  @media (max-width: 1240px) {
    .hero {
      display: flex;
      align-items: center;
      text-align: center;

      .womans {
        display: none;
      }

      .text {
        text-align: center;
      }
    }
  }

  @media (max-width: 1190px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-left: 16%;
      }
    }
  }

  @media (max-width: 1060px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-left: 5%;
      }
    }
  }

  @media (max-width: 900px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-right: 5%;
      }
    }
  }

  @media (max-width: 700px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-right: 5%;
        padding-top: 45%;
      }
    }
  }

  @media (max-width: 600px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-right: 5%;
        padding-top: 45%;
      }
    }
  }

  @media (max-width: 500px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-right: 5%;
        padding-top: 50%;
      }
    }
  }

  @media (max-width: 400px) {
    .hero {
      .womans {
        display: none;
      }

      .text {
        padding-right: 5%;
        padding-top: 50%;
      }
    }
  }


  @media (max-width: 390px) {
    background-image: url("../images/thankyou/krug.png");
    background-repeat: no-repeat;
    background-size: inherit;
    padding-top: 14%;
    align-items: center;
    height: fit-content;
    background-position: 0 18%;
    background-size: 100% 47%;

    .hero {
      align-items: center;
      flex-direction: column-reverse;
      margin-top: -43%;

      .womans {
        display: flex;
        flex-direction: column;
        padding-right: 20%;
        padding-top: 60%;

        .womans-desktop {
          display: none;
        }

        .womans-mobile {
          display: block;
        }
      }

      .text {
        padding-top: 80%;
        padding-left: 7%;

        p {
          font-size: 18px;
          line-height: 160%;
        }

        h1 {
          font-size: 50px;
          line-height: 150%;
        }
      }
    }
  }



}
