.blog-aside {
  width: 280px;
  padding-bottom: 70px;

  .aside-subtitle {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    line-height: 28px;
  }

  .view-current-deals {
    background: $purple;
    width: initial;
    padding: 40px 38px 50px 38px;

    p {
      color: #fff;
      margin: 24px 0 44px 0;

      &.subtitle {
        font-size: 14px;
        font-family: "Montserrat-SemiBold", sans-serif;
        margin: 0;
        margin-bottom: 13px;
      }

      &.aside-title {
        font-size: 22px;
        font-family: "Montserrat-Bold", sans-serif;
        padding-right: 25px;
        margin: 0;
      }
    }

    .color-btn {
      background: $yellow;
    }
  }

  .recent-posts-frame {
    padding: 38px;
    background: #fff;
    box-shadow: 0 4px 35px rgba(51, 51, 51, 0.05);

    .recent-posts {
      .recent-post {
        border-bottom: 1px solid #f0f0f0;
        display: block;
        padding: 28px 0;

        .date {
          margin: 0;
          color: #bababa;
          font-size: 14px;
        }
      }
    }

    .tags-wrap {
      padding: 40px 0 20px 0;

      a {
        display: inline-block;
        background: #f1f1f1;
        margin: 0 11px 11px 0;
        padding: 3px 9px;
        font-size: 14px;
        border-radius: 5px;
      }
    }

    .socials-wrap {
      padding-top: 20px;

      .socials {
        width: 132px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 1000px) {
  .blog-aside {
    display: flex;
    width: 100%;

    .recent-posts-frame {
      display: flex;
      flex-wrap: wrap;

      .tags-wrap {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .blog-aside {
    flex-direction: column;

    .aside-subtitle {
      //
    }

    .recent-posts-frame {
      .recent-posts {
        .recent-post {
          padding: 20px 0 11px 0;
        }
      }
    }
  }
}
