.testimonials {
  background: $lightBlue;
  padding: 120px 0;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;

    .testimonial-text {
      max-width: 350px;
      z-index: 10;

      p {
        color: #fff;
        margin-bottom: 40px;
      }

      .color-btn {
        background: $purple;
        filter: none;
      }
    }

    .carousel {
      display: flex;
      justify-content: space-between;
      background: #fff;
      height: 300px;
      width: 650px;

      .carousel-inner {
        display: flex;
        align-items: center;

        .carousel-item {
          .testimonial-header {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img {
              width: 65px;
              height: 65px;
              border-radius: 100%;
            }

            .name-info {
              margin-left: 24px;

              p {
                margin: 0;

                &:first-of-type {
                  font-family: "Montserrat-SemiBold", sans-serif;
                }
              }
            }
          }
        }
      }

      .carousel-control-prev,
      .carousel-control-next {
        position: static;
        opacity: 1;

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          background: url("../images/common/testimonials-arrow.svg") no-repeat;
        }

        .carousel-control-next-icon {
          transform: rotate(180deg);
        }
      }
    }

    .decor {
      position: absolute;
      z-index: -1;
    }

    .decor-l {
      transform: translate(-50%, -50%);
      left: 0;
      top: 50%;
    }

    .decor-r {
      transform: translate(50%, 50%);
      right: 30px;
      bottom: 33px;
    }
  }
}

@media (max-width: 1024px) {
  .testimonials {
    padding: 80px 0 100px 0;

    .container {
      flex-direction: column;
      align-items: flex-start;

      .testimonial-text {
        max-width: 70%;
        margin-bottom: 45px;

        p {
          margin-bottom: 22px;
        }
      }

      .carousel {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .testimonials {
    .container {
      align-items: center;

      .decor-l {
        transform: translate(50%, -50%);
        left: unset;
        right: 0;
        top: 0;
      }

      .decor-r {
        right: 50%;
        bottom: 45%;
      }

      .testimonial-text {
        text-align: center;
        margin-bottom: 110px;

        .title {
          margin-bottom: 25px;
        }

        p {
          font-size: 14px;
        }

        .color-btn {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .testimonials .container {
    .carousel {
      height: 400px;
    }

    .decor-r {
      bottom: 53%;
    }
  }
}

@media (max-width: 360px) {
  .testimonials {
    .container {
      .carousel {
        height: 440px;
      }
    }
  }
}
