footer.content-info {
  background: #f9f9f9;
  padding: 100px 0 33px 0;
  position: relative;
  z-index: 0;

  .circle-decor {
    position: absolute;
    z-index: -1;
  }

  .c-left {
    left: 80px;
    bottom: 160px;
  }

  .c-right {
    right: 0;
    bottom: 60px;
  }

  .footer-upper {
    display: flex;
    justify-content: space-between;

    .footer-main {
      width: 450px;

      p {
        margin: 30px 0 45px 0;
      }

      .item {
        display: flex;
        align-items: center;
        width: 75%;

        &:first-of-type {
          margin-bottom: 26px;
        }

        .svg-icon {
          margin-right: 11px;
        }

        p {
          margin: 0 6px 0 0;
        }
      }
    }

    nav.footer-nav {
      width: 430px;
      display: flex;
      justify-content: space-between;

      .item {
        h5 {
          margin-bottom: 45px;
        }

        ul {
          padding-inline-start: 0;
          list-style: none;

          li {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    .socials {
      width: 130px;
      display: flex;
      justify-content: space-between;
    }

    p {
      width: 430px;
    }
  }
}

@media (max-width: 1000px) {
  footer.content-info {
    .footer-upper {
      .footer-main {
        width: 320px;

        .item {
          flex-wrap: wrap;

          &:first-of-type {
            p:last-of-type {
              margin-left: 32px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  footer.content-info {
    padding-top: 60px;

    .c-left {
      top: 150px;
    }

    .footer-upper {
      flex-direction: column;

      .footer-main {
        margin-bottom: 50px;
      }
    }
  }
}

@media (max-width: 700px) {
  footer.content-info {
    .copyright {
      flex-direction: column;

      .socials {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  footer.content-info {
    overflow: hidden;

    .footer-upper {
      .footer-main {
        margin-bottom: 35px;

        .item {
          &:last-of-type {
            flex-wrap: wrap;

            p:last-of-type {
              width: 100%;
              margin-left: 32px;
            }
          }
        }
      }

      nav.footer-nav {
        flex-direction: column;

        .item {
          &:first-of-type {
            margin-bottom: 20px;
          }

          h5 {
            margin-bottom: 20px;
          }
        }
      }
    }

    .copyright {
      margin-top: 23px;

      p {
        width: 270px;
      }
    }

    .c-right {
      display: none;
    }

    .c-left {
      right: -115px;
      left: unset;
      top: 50%;
    }
  }
}
