header.banner {
  position: absolute;
  width: 100%;
  padding-top: 22px;
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .desktop-nav {
      & > ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;

        li {
          margin-right: 20px;
          position: relative;

          a {
            padding-bottom: 20px;
          }

          & > ul {
            display: none;
            position: absolute;
            padding-inline-start: 0;
            list-style: none;
            top: 30px;
            left: -13px;
            width: max-content;
            padding: 4px 10px;
            border-radius: 5px;
            background: #fff;

            li {
              margin-right: unset;
            }

            a {
              padding: 5px 3px;
              display: block;
              font-size: 15px;
              line-height: 20px;
            }
          }

          &:hover > ul {
            display: block;
          }
        }
      }
    }

    .burger-active {
      transform: translate3d(0, 0, 0) !important;
    }

    .burger-menu {
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      width: 375px;
      height: 100vh;
      background: #fff;
      transition: 1s;
      transform: translate3d(500px, 0, 0);
      overflow: scroll;

      .brgr-wrapper {
        width: 90%;
        margin: auto;

        .burger-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 18px 0;
          border-bottom: 1px solid #e3e3e3;
        }

        .burger-nav {
          margin: 20px 0;

          ul {
            list-style: none;
            padding-inline-start: 0;
            // margin-top: 35px;
            // padding-bottom: 35px;
            border-bottom: 1px solid #e3e3e3;

            li {
              // padding: 14px 0;

              a {
                font-size: 15px;
              }
            }
          }

          .accordion-item p {
            margin-bottom: 5px;
            cursor: pointer;
            font-size: 20px;
          }
        }

        .burger-footer {
          .socials {
            width: 130px;
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  header.banner {
    .container {
      .desktop-nav {
        display: none;
      }

      .burger-btn {
        display: block !important;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  header.banner .container .burger-menu {
    width: 100%;
    transform: translate3d(600px, 0, 0);
  }
}

@media (max-width: 480px) {
  header.banner .container {
    .logo-frame {
      svg {
        width: 89px;
      }
    }

    .burger-menu {
      .brgr-wrapper {
        .burger-header {
          a svg {
            width: 89px;
          }
        }
      }
    }
  }
}
