@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Libre_Baskerville";
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Libre_Baskerville-Bold";
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

.container-fluid,
.container {
  padding: 0;
}

.container {
  max-width: 1140px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre_Baskerville", serif;
  color: #333;
}

.title {
  font-size: 32px;
  line-height: 51px;
  color: #fff;
}

p,
a,
span {
  font-family: "Montserrat", sans-serif;
  color: #333;
  line-height: 26px;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.color-btn {
  font-family: "Montserrat-SemiBold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 40px;
  background: $purple;
  color: #fff;
  filter: drop-shadow(0 10px 20px rgba(221, 113, 198, 0.3));
  transition: 0.5s;

  &:hover {
    color: #fff;
    transform: translateY(-5px);
  }
}

@media (max-width: 1250px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
    line-height: 38px;
  }

  p {
    font-size: 15px;
  }

  .color-btn {
    font-family: "Montserrat-Medium", sans-serif;
  }
}

@media (max-width: 414px) {
  p {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}
