/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$navyBlue: #4d85b0;
$lightBlue: #73c3f4;
$azure: #a4e7ed;
$purple: #dd71c6;
$green: #55a301;
$yellow: #ffd900;
